<html>
  <head>
    <title>SWA2</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  </head>
  <body>
    <br/>
    <div class="container">
      <form action="/publish" method="POST" class="form-group">
        <input name="message" type="text" class="form-control"/>
        <br/>
        <input type="submit" value="Send message" class="btn btn-lg btn-info"/>
      </form>
      <br/>
      <form action="/get" method="POST">
        <input type="submit" value="Get all" class="btn btn-lg btn-info"/>
        <br/><br/>
        <textarea class="form-control" rows="10" id="comment">
          <% if @got %>            
            <% case @got when :queue_empty %>
              Queue empty
            <% else %>
<%= CGI.escapeHTML(@got) %>
            <% end %>            
          <% end %>          
        </textarea>
      </form>
    </div>
  </body>
</html>

